.timeline-main {
    position:relative;
}

.timeline .event {
    display: grid;
    grid-template-columns: 120px 20px 1fr;
}

/* Years */
.timeline div.year {
    text-align: right;
    padding:8px 16px;
}

.timeline .details-holder {
    padding:8px 0;
}

/* Title */
.timeline .title {
    /*border-left: 7px solid #004ffc;*/
}



.timeline .line {
    position: relative;
    background: #fff;
    box-shadow: 0 0 5px #fff, 0 0 7px #fff, 0 0 12px #fff;
    width: 1px;
    margin: -1px 0;
}

.timeline .event:first-child .line {
    margin: 13px 0 -1px;
}

.line div {
    position: absolute;
    left: -2px;
    top: 14px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0 0 5px #fff, 0 0 7px #fff, 0 0 12px #fff;
}

.timeline .event:first-child .line div {
    top: 0px;
}
