.copy-holder .copy-item {
    display: grid;
    grid: auto/minmax(100px, 180px) 4fr;
    padding:8px;
    grid-gap: 15px
}

@media (max-width:700px) {
    .copy-holder .copy-item {
        grid: auto/1fr;
    }

    .copy-holder .copy-item.headings {
        padding: 13px 8px 8px;
        margin: 0px -10px;
        
    }

    .copy-holder .copy-item.headings + hr {
        top: calc(var(--top-nav-height) + 72px);
    }
}

.copy-holder .copy-item .book,
.copy-holder .copy-item .details {
    padding: 5px 0;
}

.copy-holder .copy-item .details p:first-child {
    margin-top:0;
}

.copy-holder .copy-item.headings {
    font-weight:bold;
    color:#eee;
    position: sticky;
    top: var(--top-nav-height);
    padding: 20px 8px 8px;
    z-index: 100;
    backdrop-filter: blur(25px);
}

.copy-holder .copy-item.headings + hr {
    position: sticky;
    top: calc(var(--top-nav-height) + 46px);
}

.details td {
    padding: 3px 10px 0 0;
}