<div class="bib" data-bind="class: BookType"></div>
<div class="verses-container">
    <h4 data-bind="text: RefDisplay"></h4>
    <div class="controls" data-bind="ifnot: FullChapter">
        <button class="btn-icon-only ref-only" data-bind="click: function(){SetDisplayContext('SelectedOnly')}, css: { 'selected': DisplayContext() == 'SelectedOnly'}" title="Show Selected Only"></button>
        <button class="btn-icon-only context" data-bind="click: function(){SetDisplayContext('Context'); }, css: { 'selected': DisplayContext() == 'Context'}" title="Show Context"></button>
        <button class="btn-icon-only chapter" data-bind="click: function(){SetDisplayContext('All')}, css: { 'selected': DisplayContext() == 'All'}" title="Show Chapter"></button>
    </div>
    <div class="verses" data-bind="foreach:Verses">
        <sup data-bind="text: VerseNo, css: { 'dim': Dim }"></sup>
        <div class="content" data-bind="foreach: Sections, css: { 'dim': Dim }">
            <!-- ko if: Type == 0 -->
            <span data-bind="html: Html"></span>
            <!-- /ko -->
            <!-- ko if: Type == 1 -->
            <go-strongs params="{ Strongs: Html, Alt: Meaning}"><span data-bind="html:$parent.Match"></span></go-strongs>
            <!-- /ko -->
            <!-- ko if: Type == 2 -->
            <div class="legend" data-bind="click:OpenClose"><span data-bind="html:Match"></span> <span class="div leg"></span> <span data-bind="html:Meaning"></span></div>
            <go-dialog params="{ Title: 'Prophecy Legend', Show: Show }">
                <div class="refs" data-bind="foreach: $parent.Refs">
                    <!-- ko if: Ref == ''-->
                    <div data-bind="html: Html"></div>
                    <!-- /ko -->
                    <!-- ko if: Ref != ''-->
                    <go-bible-ref params="{ Ref: Ref, Bold: Bold, Strongs: Strongs, Show: GO.eRefTypeShow.None }"></go-bible-ref>
                    <!-- /ko -->
                </div>
            </go-dialog>
            <!-- /ko -->
        </div>
    </div>
</div>