:root {
    --width: auto;
}

body {
    overflow:hidden;
    padding: var(--top-nav-height) 0 0;
}

.rev-main {
    overflow: auto;
}

footer {
    display:none;
}

.rev-main {
    /*display:grid;
    grid-template-columns: repeat(15, 250px);
    grid-template-rows: repeat(2, 23px);
    row-gap: 20px;
    grid-template-areas:
        "seal-1 seal-2 seal-3 seal-4 seal-5 seal-6 xx seal-7 seal-7 seal-7 seal-7 seal-7 seal-7 seal-7 seal-7"
        ". . . . . . . trump-1 trump-2 trump-3 trump-4 angel-woe trump-5 trump-6 trump-7";*/

}

.rev-main h3 {
    font-size: 12px;
    margin: 0;
    color: #eee;
    background: rgba(123,67,233,0.5);
    border:1px solid rgba(255,255,255,0.5);
    padding:4px 5px;
    text-align: center;
}

.rev-main h4 {
    margin: 0;
    color: #999;
    background-color: rgba(123,67,233,0.2);
    padding: 3px;
    text-align: center;
}

.rev-main h5 {
    font-size: 10px;
    margin: 0;
    font-weight: normal;
    padding: 2px 6px;
}

.rev-main p {
    margin:2px 6px;
}


.rev-main .heaven td {
    height: 100px;
    background: #09f;
}

.rev-main .earth td {
    height:100px;
    background:rgb(80,40,0);
}


.rev-main .seal {
    
}
