
.timeline .event {
    display: grid;
    grid-template-columns: 120px 16px 1fr;
}

.timeline div.date {
    text-align: right;
    padding:8px 16px;
}

.timeline .line {
    position: relative;
    width: 1px;
    margin: -1px 0;
    background: #99d;
    box-shadow: 0 0 5px #99d, 0 0 7px #99d;
}

.timeline .event:first-child .line {
    margin: 13px 0 -1px;
}

.timeline .title {
    padding:8px 0;
}

.timeline .attempted {
    color:#999;
}

.timeline .attempted sup {
    font-style: italic;
}

.line div {
    position: absolute;
    left: -2px;
    top: 14px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #ccf;
    box-shadow: 0 0 7px #fff, 0 0 11px #fff;
}

.timeline .event:first-child .line div {
    top: 0px;
}
