:root {
    --width: auto;

    --heading-1-height: 23px;
    --heading-2-height: 23px;


    /* Book - Chapter Colors */
    /* https://accessiblepalette.com/?lightness=98.2,93.95,85.1,76.5,67.65,57.8,47.6,40.4,32.4,23.55&ef6691=0,0&e42872=0,0&6F181A=0,0&FF6F5C=0,0&411309=0,20&d55238=0,0&ec9f2c=0,0&e5b782=0,15&f8d147=0,0&768241=0,0&ade60a=0,0&347212=0,0&15dd1e=0,20&62ed94=0,25&40f38d=0,50&85eae7=0,0&0088cb=0,0&0164b3=0,0&387AE6=0,10&3e78e5=0,15&130e4b=1,70&320fbd=0,0&8268a7=0,30&6505FF=0,0&8141b5=0,0&c46ce2=0,12&b61ce0=0,15&e1b4e0=0,100&ef47df=0,0&550038=0,0&f93d92=0,0&808080=0,0 */
    /* 800 */
    --x: #78354B;
    --x: #921A49;
    --x: #882A41;
    --x: #803335;
    --x: #7D372D;
    --x: #644635;
    --gad: #833222;
    --x: #674613;
    --ba2: #564B33;
    --mrk: #594B1A;
    --x: #485028;
    --th1: #3F5304;
    --luk: #28570E;
    --x: #005C28;
    --x: #005747;
    --es2: #00595B;
    --x: #2F5251;
    --rev: #005179;
    --x: #2C4A89;
    --x: #3C478A;
    --x: #494487;
    --x: #7B3548;
    --x: #4A2CC5;
    --x: #693E5F;
    --sng: #663490;
    --x: #74346E;
    --x: #970083;
    --x: #5E483B;
    --mat: #7F2677;
    --x: #783461;
    --x: #8B2252;
    --x: #4C4C4C;

}

body {
    overflow:auto;
    padding: var(--top-nav-height) 0 0;
}

.page-area {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: calc(100vh - var(--top-nav-height));
    grid-gap: 10px;
    margin:0;
    padding:0;
}

.rev-main {
    padding:30px;
}

footer {
    display:none;
}


/*********************************************************************
    Tabs
*********************************************************************/
.rev-main .tabs {
    display:grid;
    align-content: stretch;
    grid-template-columns: repeat(32, max-content 30px);
    grid-template-rows: 68px repeat(20, 115px);
    row-gap:10px;
    grid-template-areas:
"tab-rev-12 . tab-rev-12-2 . tab-seal-1 . tab-seal-2 . tab-seal-3 . tab-seal-4 . tab-seal-5 . tab-seal-6 . tab-rapture . tab-seal-7 . tab-trumpet-1 . tab-trumpet-2 . tab-trumpet-3 . tab-trumpet-4 . tab-trumpet-5 . tab-trumpet-6 . tab-2-wit . tab-ascension . tab-trumpet-7 . tab-vial-1 . tab-vial-2 . tab-vial-3 . tab-vial-4 . tab-vial-5 . tab-vial-6 . tab-thief . tab-vial-7 . tab-pre-1000 . tab-1000 . tab-end-1000 . tab-judgement"
". tj-rev-12-2 . tj-rev-12-3 tj-rev-12-3 tj-rev-12-3 tj-rev-12-3 tj-rev-12-3 tj-rev-12-3 tj-rev-12-3 tj-rev-12-3 tj-rev-12-3 tj-rev-12-3 tj-rev-12-3 . tj-rev-12-4 . tj-rev-12-5b tj-rev-12-5b tj-rev-12-5b . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ."
". . . . . . . . . . . . . . . tj-1thess-4-16a-s . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ."
". . . . . tj-seal-1 . tj-seal-2 . tj-seal-3 . tj-seal-4 . tj-seal-5 . tj-rev-6-16 . tj-rev-7-1 . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ."
". . . . . . . . . . . . . tj-mat-24-29a-s . tj-mat-24-30b . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ."
". . . . . . . . . . . . . tj-mrk-13-24a-s . tj-mark-13-26 . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ."
". . . . . . . . . . . . . . . tj-luke-21-26b . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ."
". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ."
". . . . . . . . . . . . . . . . . tj-rev-11-1 . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ."
". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ."
". . . . . . . . . . . . . . . tj-rev-4-2 . tj-rev-4-3 . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ."
". . . . . . . . . . . . . . . . . tj-ba2-30-2a . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ."
". . . . . . . . . . . . . . . tj-song-2-13a . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ."
". . . . . . . . . . . . . . . tj-rev-21-10a . tj-rev-21-16 . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ."
". . . . . . . . . . . tj-es2-15-6 . tj-es2-15-8b tj-es2-15-8b tj-es2-15-8b . tj-es2-15-11a . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ."
". . . . . . . . . . . . . . . . . tj-es2-5-1 . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ."
". . . . . . . . . . . . . . . tj-es2-2-34-s . tj-es2-2-37 . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ."
". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ."
". . . . . . . . . . . . . . . tj-gad-14-4 . tj-gad-14-9a . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ."
". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ."
"tab-rev-12-end . tab-rev-12-2-end . tab-seal-1-end . tab-seal-2-end . tab-seal-3-end . tab-seal-4-end . tab-seal-5-end . tab-seal-6-end . tab-rapture-end . tab-seal-7-end . tab-trumpet-1-end . tab-trumpet-2-end . tab-trumpet-3-end . tab-trumpet-4-end . tab-trumpet-5-end . tab-trumpet-6-end . tab-2-wit-end . tab-ascension-end . tab-trumpet-7-end . tab-vial-1-end . tab-vial-2-end . tab-vial-3-end . tab-vial-4-end . tab-vial-5-end . tab-vial-6-end . tab-thief-end . tab-vial-7-end . tab-pre-1000-end . tab-1000-end . tab-end-1000-end . tab-judgement-end"
;
}

.rev-main .tab {
    position:relative;
    min-width:180px;
    grid-row-end: span 12;
    box-shadow: 0 0 25px #0009;
}

.rev-main .tab:before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: 
        linear-gradient(0deg, #636364 0, #2c2b2c 10%, #3c3a46 60%, #636364 95%, #3c3a46 100%),
        linear-gradient(0deg, #3c3a46 0, #636364 35%, #2c2b2c 50%, #3c3a46 100%),
        linear-gradient(45deg, #111 0, #121212 100%);
    background-position: 0 0, 100% 0;
    background-repeat: no-repeat;
    background-size: 1px 100%, 1px 100%, cover;
    z-index: -2;
}

.rev-main .tab:after {
    content: "";
    position: absolute;
    inset: 0;
    background: url(/Images/Background/ReflectiveGlow.jpg) 0 var(--bk-scroll-pos, 50%) repeat fixed;
    background-size: 2500px;
    opacity: 0.03;
    z-index: -1;
}

.rev-main .tab.dim {
    /*background-image: 
        linear-gradient(0deg, #262626 0, #424242 10%, #4a4a4a 60%, #262626 95%, #424242 100%),
        linear-gradient(0deg, #424242 0, #262626 10%, #4a4a4a 50%, #424242 100%),
        linear-gradient(45deg, #111 0, #121212 100%) !important;*/
    box-shadow: 0 0 25px #0007 !important;
}

.rev-main .tab > h2 {
    text-align:center;
    background: linear-gradient(#777, #eee, #777);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    cursor:pointer;
    margin: 17px 0 5px;
}

.rev-main .tab > h4 {
    text-align:center;
    color:#777;
}

.rev-main .tab .btn-expand {
    position: absolute;
    top: -10px;
    right: -15px;
}


.rev-main .tab .btn-expand svg {
    fill: #aaa;
    width: 20px;
}


/*********************************************************************
    Items
*********************************************************************/
.rev-main .item {
    min-width:150px;
    background: #000;
    border-left: 1px solid #aaa;
    border-right: 1px solid #aaa;
    margin: 0 0 0 -1px;
    position: relative;
}

.rev-main .item.not-sure-location {
    border-top: 1px solid #b57f2a;
    border-bottom: 1px solid #b57f2a;
}

.rev-main .item > h4 {
    height: var(--heading-1-height);
    font-size: 1em;
    font-weight: normal;
    margin: 0;
    color: #e3e3e3;
    text-align: center;
    padding: 2px 12px;
}

.rev-main .item > h4 .legend {
    font-weight:normal;
    background:#111c;
    border:none;
}

.rev-main .item > .line .legend {
    margin:-1px 0;
}

.rev-main .item.first {
    border-left:2px solid #eee;
}

.rev-main .item.last {
    border-right:2px solid #eee;
}

.rev-main .item > h5 {
    height:var(--heading-2-height);
    margin: 0;
    color: #eee;
    text-align: center;
    padding: 1px 20px;
    font-size: 14px;
    font-weight:normal;
}

.rev-main .item > h5 .legend {
    border: 1px solid #555;
}

.rev-main .ref {
    font-size: 0.83em;
    position: absolute;
    bottom: 3px;
    right: 5px;
    color:#fff;
}

.rev-main .line {
    padding: 3px 5px;
    font-size: 0.9em;
}

.rev-main .line2 {
    padding: 0 85px 0 5px;
}


/*********************************************************************
    Joins
*********************************************************************/
.rev-main .tab-join {
    height: var(--heading-1-height);
    margin:var(--heading-2-height) -17px 0 -18px;
    background: #f00;
}

.rev-main .join {
    min-width:150px;
    height: var(--heading-1-height);
    margin:var(--heading-2-height) 1px 0 -1px;
    background: #f00;
}

.rev-main .join.first {
    background: linear-gradient(90deg, #0000, #271a41);
}



/* Rev 12
**********************************/
.rev-main .tab.rev-12 {
    box-shadow: 0 0 20px #20661b33;
}

.rev-main .tab.rev-12:before {
    background-image: 
        linear-gradient(0deg, #7bd983 0, #359b4b 10%, #20661b 60%, #7bd983 95%, #20661b 100%),
        linear-gradient(0deg, #20661b 0, #7bd983 35%, #359b4b 50%, #20661b 100%),
        linear-gradient(45deg, #111 0, #121212 100%);
}


/* Seals
**********************************/
.rev-main .tab.seal {
    box-shadow: 0 0 20px #674cff33;
}

.rev-main .tab.seal:before {
    background-image: 
        linear-gradient(0deg, #8f92ff 0, #45359b 10%, #674cff 60%, #8f92ff 95%, #674cff 100%),
        linear-gradient(0deg, #674cff 0, #8f92ff 35%, #45359b 50%, #674cff 100%),
        linear-gradient(45deg, #111 0, #121212 100%);
}

.rev-main .dim.seal {
    /*background:linear-gradient(0deg, #0d0c18 0%, #211852 100%);*/
    /*background:var(--tab-image) no-repeat center 50px, linear-gradient(0deg, #0d0c18 0%, #211852 100%);*/
}


/* Rapture
**********************************/
.rev-main .rapture {
    box-shadow: 0 0 20px #91802d33;
}

.rev-main .rapture:before {
    background-image: 
        linear-gradient(0deg, #ffed8f 0, #5c541a 10%, #91802d 60%, #ffed8f 95%, #91802d 100%),
        linear-gradient(0deg, #91802d 0, #ffed8f 35%, #5c541a 50%, #91802d 100%),
        linear-gradient(45deg, #111 0, #121212 100%);
    /*linear-gradient(0deg, #38380e 0%, #d1be3b 100%);*/
}

/* Trumpets
**********************************/
.rev-main .tab.trumpet {
    box-shadow: 0 0 20px #c5834033;
}

.rev-main .tab.trumpet:before {
    background-image: 
        linear-gradient(0deg, #ffaf8f 0, #9b5b35 10%, #c58340 60%, #ffaf8f 95%, #c58340 100%),
        linear-gradient(0deg, #c58340 0, #ffaf8f 35%, #9b5b35 50%, #c58340 100%),
        linear-gradient(45deg, #111 0, #121212 100%);
}

/* 2 Witnesses
**********************************/
.rev-main .tab.witnesses {
    box-shadow: 0 0 20px #4282e133;
}

.rev-main .tab.witnesses:before {
    background-image: 
        linear-gradient(0deg, #98c1ff 0, #2d5289 10%, #4282e1 60%, #98c1ff 95%, #4282e1 100%),
        linear-gradient(0deg, #4282e1 0, #98c1ff 10%, #2d5289 50%, #4282e1 100%),
        linear-gradient(45deg, #111 0, #121212 100%);
}

/* Ascension
**********************************/
.rev-main .tab.ascension {
    box-shadow: 0 0 20px #91802d33;
}

.rev-main .tab.ascension:before {
    background-image: 
        linear-gradient(0deg, #ffed8f 0, #5c541a 10%, #91802d 60%, #ffed8f 95%, #91802d 100%),
        linear-gradient(0deg, #91802d 0, #ffed8f 35%, #5c541a 50%, #91802d 100%),
        linear-gradient(45deg, #111 0, #121212 100%);
}

/* Vials
**********************************/
.rev-main .tab.vial {
    box-shadow: 0 0 20px #d3434333;
}

.rev-main .tab.vial:before {
    background-image: 
        linear-gradient(0deg, #ff8f8f 0, #9b3535 10%, #d34343 60%, #ff8f8f 95%, #d34343 100%),
        linear-gradient(0deg, #d34343 0, #ff8f8f 35%, #9b3535 50%, #d34343 100%),
        linear-gradient(45deg, #111 0, #121212 100%);
}

/* Come as a Thief
**********************************/
.rev-main .tab.thief {
    box-shadow: 0 0 20px #674cff33;
}

.rev-main .tab.thief:before {
    background-image: 
        linear-gradient(0deg, #8f92ff 0, #45359b 10%, #674cff 60%, #8f92ff 95%, #674cff 100%),
        linear-gradient(0deg, #674cff 0, #8f92ff 35%, #45359b 50%, #674cff 100%),
        linear-gradient(45deg, #111 0, #121212 100%);
}

/* Pre 1000 Years
**********************************/
.rev-main .tab.pre-1000 {
    box-shadow: 0 0 20px #674cff33;
}

.rev-main .tab.pre-1000:before {
    background-image: 
        linear-gradient(0deg, #8f92ff 0, #45359b 10%, #674cff 60%, #8f92ff 95%, #674cff 100%),
        linear-gradient(0deg, #674cff 0, #8f92ff 35%, #45359b 50%, #674cff 100%),
        linear-gradient(45deg, #111 0, #121212 100%);
}

/* 1000 Years
**********************************/
.rev-main .tab.y1000 {
    box-shadow: 0 0 20px #20661b33;
}

.rev-main .tab.y1000:before {
    background-image: 
        linear-gradient(0deg, #7bd983 0, #359b4b 10%, #20661b 60%, #7bd983 95%, #20661b 100%),
        linear-gradient(0deg, #20661b 0, #7bd983 35%, #359b4b 50%, #20661b 100%),
        linear-gradient(45deg, #111 0, #121212 100%);
}

/* End 1000 Years
**********************************/
.rev-main .tab.end-1000 {
    box-shadow: 0 0 20px #674cff33;
}

.rev-main .tab.end-1000:before {
    background-image: 
        linear-gradient(0deg, #8f92ff 0, #45359b 10%, #674cff 60%, #8f92ff 95%, #674cff 100%),
        linear-gradient(0deg, #674cff 0, #8f92ff 35%, #45359b 50%, #674cff 100%),
        linear-gradient(45deg, #111 0, #121212 100%);
}

/* Judgement
**********************************/
.rev-main .tab.judgement {
    box-shadow: 0 0 20px #d3434333;
}

.rev-main .tab.judgement:before {
    background-image: 
        linear-gradient(0deg, #ff8f8f 0, #9b3535 10%, #d34343 60%, #ff8f8f 95%, #d34343 100%),
        linear-gradient(0deg, #d34343 0, #ff8f8f 35%, #9b3535 50%, #d34343 100%),
        linear-gradient(45deg, #111 0, #121212 100%);
}




/*********************************************************************
    Tabs Content
*********************************************************************/
.rev-main .grid {
    display:grid;
    grid-template-columns: repeat(20, max-content);
    grid-template-rows: repeat(20, 90px 25px);
    row-gap:5px;
    margin:17px 15px 0;
}

/* Rev 12 Sign
**********************************/
.rev-main .tab-rev-12 .grid {
    grid-template-areas:
"rev-12-1 rev-12-2"
;
}

/* Seal 1
**********************************/
.rev-main .tab-seal-1 .grid {
    grid-template-areas:
". ."
". ."
". ."
". ."
"rev-6-1 rev-6-2"
;
}

/* Seal 2
**********************************/
.rev-main .tab-seal-2 .grid {
    grid-template-areas:
"."
"."
"."
"."
"rev-6-3"
;
}

/* Seal 3
**********************************/
.rev-main .tab-seal-3 .grid {
    grid-template-areas:
". ."
". ."
". ."
". ."
"rev-6-5 rev-6-6"
;
}

/* Seal 4
**********************************/
.rev-main .tab-seal-4 .grid {
    grid-template-areas:
". . ."
". . ."
". . ."
". . ."
"rev-6-7 rev-6-8b j-rev-6-8b"
". . ."
". . ."
". . ."
". . ."
". . ."
". . ."
". . ."
". . ."
". . ."
". . ."
". . ."
". . ."
". . ."
". . ."
". . ."
". . ."
". . ."
". . ."
". . ."
". . ."
". . ."
"j-es2-15-5-s es2-15-5 es2-15-6"
;
}

/* Seal 5
**********************************/
.rev-main .tab-seal-5 .grid {
    grid-template-areas:
". . . ."
". . . ."
". . . ."
". . . ."
"rev-6-9 j-rev-6-9 rev-6-10 rev-6-11"
". . . ."
". . . ."
". . . ."
". . . ."
". . . ."
". . . ."
". . . ."
". . . ."
". . . ."
". . . ."
". . . ."
". . . ."
". . . ."
". . . ."
". . . ."
". . . ."
". . . ."
". . . ."
". . . ."
". . . ."
". . . ."
"j-es2-15-7 es2-15-7 es2-15-8b es2-15-9"
;
}


/* Seal 6
**********************************/
.rev-main .tab-seal-6 .grid {
    grid-template-areas:
"j-rev-12-3 j-rev-12-3 rev-12-4 j-rev-12-4 j-rev-12-4 j-rev-12-4 j-rev-12-4 j-rev-12-4"
". . . . . . . ."
". . . . . . . ."
". . . . . . . ."
"j-rev6-11 rev-6-1 rev-6-2 rev-6-3 rev-6-4 j-rev6-15 rev-6-16a rev-6-16b"
". . . . . . . ."
"mat-24-29a mat-24-29b mat-24-29c j-mat-24-29c j-mat-24-29c mat-24-29d mat-24-30a j-mat-24-30a"
". . . . . . . ."
"mark-13-24a mark-13-24b mark-13-25a j-mark-13-25a j-mark-13-25a mark-13-25b j-mark-13-25b j-mark-13-25b"
". . . . . . . ."
"j-luke-21-25-s luke-21-25a luke-21-25b luke-21-25c luke-21-26a luke-21-26b j-luke-21-26b j-luke-21-26b"
". . . . . . . ."
". . . . . . . ."
". . . . . . . ."
". . . . . . . ."
". . . . . . . ."
". . . . . . . ."
". . . . . . . ."
"j-rev-4-2 rev-4-2a j-rev-4-2a j-rev-4-2a j-rev-4-2a j-rev-4-2a j-rev-4-2a rev-4-2b"
". . . . . . . ."
". . . . . . . ."
". . . . . . . ."
". j-song-2-13-s song-2-13a j-song-2-13a j-song-2-13a j-song-2-13a j-song-2-13a j-song-2-13a"
". . . . . . . ."
". . . . . . . ."
". . . . . . . ."
"j-es2-15-8b j-es2-15-8b j-es2-15-8b j-es2-15-8b j-es2-15-8b j-es2-15-8b j-es2-15-8b j-es2-15-8b"
". . . . . . . ."
". . . . . . . ."
". . . . . . . ."
". . . . . . . ."
". . . . . . . ."
". . . . . . . ."
". . . . . . . ."
". gad-14-1 j-gad-14-1 gad-14-2a j-gad-14-2a j-gad-14-2a j-gad-14-2a gad-14-2b"
;
}

/* Rapture
**********************************/
.rev-main .tab-rapture .grid {
    grid-template-areas:
"rev-12-5a j-rev-12-5a j-rev-12-5a j-rev-12-5a rev-12-5b j-rev-12-5b"
". . . . . ."
"thess-4-16a j-1thess-4-16a j-1thess-4-16a thess-4-16b thess-4-17 j-thess-4-17-e"
". . . . . ."
"j-rev-6-16 rev-6-17 . . . rev-7-1"
". . . . . ."
"mat-24-30b j-mat-24-30b j-mat-24-30b mat-24-31a mat-24-31b j-mat-24-31b-e"
". . . . . ."
"mark-13-26 j-mark-13-26 j-mark-13-26 mark-13-27a mark-13-27b j-mark-13-27b-e"
". . . . . ."
"luke-21-27 j-luke-21-27-e . . . ."
". . . . . ."
". . . . . ."
". . . . . ."
". . rev-11-1 j-rev-11-1 j-rev-11-1 j-rev-11-1"
". . . . . ."
". . . . . ."
". . . . . ."
". . . . . ."
". . . . . ."
"ba2-30-1 j-ba2-30-1 j-ba2-30-1 ba2-30-2a j-ba2-30-2a j-ba2-30-2a"
". . . . . ."
"j-song-2-13a j-song-2-13a j-song-2-13a song-2-13b song-2-13c j-song-2-13-e"
". . . . . ."
". . . . . ."
". . . . . ."
"j-es2-15-9 j-es2-15-9 j-es2-15-9 j-es2-15-9 es2-15-10 j-es2-15-11a"
". . . . . ."
". . . . es2-5-1 j-es2-5-1"
". . . . . ."
"es2-2-34 j-es2-2-35 j-es2-2-35 es2-2-36 es2-2-37 j-es2-2-37"
". . . . . ."
". . . . . ."
". . . . . ."
". . . . . ."
;
}



/*********************************************************************
    Book - Chapter Colors
*********************************************************************/
.rev-main .ba2 > h4,
.rev-main .join.ba2,
.rev-main .tab-join.ba2 {
    background: var(--ba2);
}

.rev-main .es2 > h4,
.rev-main .join.es2,
.rev-main .tab-join.es2 {
    background: var(--es2);
}

.rev-main .gad > h4,
.rev-main .join.gad,
.rev-main .tab-join.gad {
    background: var(--gad);
}

.rev-main .luk > h4,
.rev-main .join.luk,
.rev-main .tab-join.luk {
    background: var(--luk);
}

.rev-main .mrk > h4,
.rev-main .join.mrk,
.rev-main .tab-join.mrk {
    background: var(--mrk);
}

.rev-main .mat > h4,
.rev-main .join.mat,
.rev-main .tab-join.mat {
    background: var(--mat);
}

.rev-main .rev > h4,
.rev-main .join.rev,
.rev-main .tab-join.rev {
    background: var(--rev);
}

.rev-main .sng > h4,
.rev-main .join.sng,
.rev-main .tab-join.sng {
    background: var(--sng);
}

.rev-main .th1 > h4,
.rev-main .join.th1,
.rev-main .tab-join.th1 {
    background: var(--th1);
}


/*********************************************************************
    Links
*********************************************************************/
.rev-main .link {
    justify-self: center;
    background:#4f4f51;
    width:1px;
    z-index:-1;
}

.rev-main .link.highlight {
    z-index:0;
}

.rev-main .heaven td {
    height: 100px;
    background: #09f;
}

.rev-main .earth td {
    height:100px;
    background:rgb(80,40,0);
}

