:root {
    --width: auto;
    --person-bg: linear-gradient(45deg, #0000 0, #0000 var(--corner-cut), #000 var(--corner-cut), #000 calc(100% - var(--corner-cut)), #0000 calc(100% - var(--corner-cut)), #0000 100%);
    --person-bg-dim: linear-gradient(45deg, #0000 0, #0000 var(--corner-cut), #0002 var(--corner-cut), #0005 calc(100% - var(--corner-cut)), #0000 calc(100% - var(--corner-cut)), #0000 100%);
    --person-bg-highlight: linear-gradient(45deg, #0000 0, #0000 var(--corner-cut), #0007 var(--corner-cut), #0009 calc(100% - var(--corner-cut)), #0000 calc(100% - var(--corner-cut)), #0000 100%);
}

body {
    overflow:hidden;
    padding: var(--top-nav-height) 0 0;
}

.fam-main {
    overflow: auto;
}

.page-area {
    display: grid;
    grid-template-columns: auto minmax(310px, 10%);
    grid-template-rows: calc(100vh - var(--top-nav-height));
    grid-gap: 10px;
    margin:0;
    padding:0;
}

footer {
    display:none;
}

/*.box {
    margin:0;
}*/

.tree-holder {
    display:inline-grid;
    grid-template-columns: repeat(18, 150px 42px);
    grid-template-rows: repeat(6, 90px 42px) 90px;
    padding:30px;
    grid-column: 1;
    grid-row:1;
    grid-template-areas:
   ". . . . . . . . grandad1 l1 l1 l1 grandmother1 . . . . . grandad2 l18 l18 l18 grandmother2 . . . . . . . . . . . ."
". . . . . . . . l2 l3 l3 l3 l4 . . . . . l19 l20 l20 l20 l21 . . . . . . . . . . . ."
". . . . . . aunt1 l5 uncle1 . l6 . aunt2 l7 uncle2 . aunt3 l22 uncle3 . l23 . aunt4 l24 uncle4 . . . . . . . . . ."
". . . . . . l8 l9 l10 . l6 . l12 l13 l14 . l25 l26 l27 . l23 . l28 l29 l30 . . . . . . . . . ."
". . . . . . cousin1m . cousin1f . l6 . cousin2m . cousin2f . cousin3m . cousin3f . l23 . cousin4m . cousin4f . . . . . . . . . ."
". . . . . . . . . . l6 . . . . . . . . . l23 . . . . . . . . . . . . . ."
"dad-wife-husband l16 dad-wife l90 l90 l90 l90 l91 l11 l11 dad l15 l15 l15 l15 l15 l15 l15 l15 l15 mother l101 l101 l101 l101 l101 l101 l101 l101 l101 l101 l17 mother-husband . ."
"l31 l32 l33 . . . l34 l35 l36 . . . . . l37 l100 l38 l38 l38 l38 l38 l38 l39 l40 l41 . . . . . l80 l81 l82 . ."
"brother3 . sister3 . sister-law2 l42 brother2 . sister2 l43 brother-law2 . wife-sister l120 you l44 spouse . . . brother-law1 l45 sister1 . brother1 l46 sister-law1 . sister-law5 l110 brother5 . sister6 l111 brother-law6"
". . . . l50 l51 l52 . l53 l54 l55 . . . l56 l57 l58 . . . l60 l61 l62 . l63 l64 l65 . l112 l113 l114 . l115 l116 l117"
". . . . nephew1 . niece1 . nephew2 . niece2 . daughter-law l70 son . daughter l71 son-law . nephew3 . niece3 . nephew4 . niece4 . nephew5 . niece5 . nephew6 . niece6"
". . . . . . . . . . . . l72 l73 l74 . l75 l76 l77 . . . . . . . . . . . . . . . ."
". . . . . . . . . . . . grand-son1 . grand-daughter1 . grand-son2 . grand-daughter2 . . . . . . . . . . . . . . . ."

;
}


/* Link
**********************************/
.link {
    display:grid;
    grid-template-columns: 1fr 1px 1fr;
    grid-template-rows: 1fr 1px 1fr;
    grid-template-areas:
        ". t ."
        "l m r"
        ". b .";
}

.link > div {
    transition: box-shadow 100ms linear;
}

.link .t,
.link .l,
.link .m,
.link .r,
.link .b {
    background:#ccc5;
}

.link .t {
    grid-area: t;
}

.link .l {
    grid-area: l;
}

.link .m {
    grid-area: m;
}

.link .r {
    grid-area: r;
}

.link .b {
    grid-area: b;
}

.link .t.highlight,
.link .l.highlight,
.link .m.highlight,
.link .r.highlight,
.link .b.highlight {
    background:#fffc;
    box-shadow:0 0 3px #f00, 0 0 5px #f00, 0 0 10px #f00;
}


/* Person
**********************************/
.person {
    padding: 5px;
    background: var(--person-bg);
    transition: background-color 100ms linear;
    position:relative;
}

.person > h4 {
    margin: 4px 0 0;
    text-align: center;
}

.person go-info {
    position:absolute;
    top:-7px;
    right:3px;
}

.person > hr {
    transition: box-shadow 100ms linear, background 100ms linear;
    background: #f7f7f7;
    box-shadow: 0 0 5px #fff, 0 0 7px #fff;
}

.person .ref {
    text-align:left;
    padding: 0 12px;
    font-size:14px;
}

.dim .person {
    background: var(--person-bg-dim);
    color:#eee7;
}

.dim .person > hr {
    background: #eee7;
    box-shadow: 0 0 3px #eee7, 0 0 5px #eee7, 0 0 10px #eee7;
}

.person.you {
    grid-area: you;
    color:#eee;
    background: var(--person-bg-highlight);
}

.person.you > hr,
.dim .person.you > hr{
    background: #09f;
    box-shadow: 0 0 5px #3bf, 0 0 7px #3bf, 0 0 10px #3bf;
}

.dim .person.highlight {
    color:#eee;
    background: var(--person-bg-highlight);
}


/* Red */
.person.red > hr {
    background: #f00;
    box-shadow: 0 0 5px #f00, 0 0 7px #f00, 0 0 10px #f00;
}

.dim .person.red > hr {
    background: #f009;
    box-shadow: 0 0 3px #f00, 0 0 5px #f00, 0 0 10px #f00;
}

.dim .person.red.highlight > hr {
    background: #fff;
    box-shadow: 0 0 3px #f00, 0 0 5px #f00, 0 0 10px #f00, 0 0 10px #f00, 0 0 10px #f00;
}

/* Conditional */
.person.conditional > hr {
    background: #f70;
    box-shadow: 0 0 5px #f70, 0 0 7px #f70, 0 0 10px #f70;
}

.dim .person.conditional > hr {
    background: #f709;
    box-shadow: 0 0 3px #f70, 0 0 5px #f70, 0 0 10px #f70;
}

.dim .person.conditional.highlight > hr {
    background: #fff;
    box-shadow: 0 0 3px #f70, 0 0 5px #f70, 0 0 10px #f70, 0 0 10px #f70, 0 0 10px #f70;
}


/* Controls
**********************************/
go-bible-ref {
    padding:15px;
}

.controls-holder {
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 85px 1fr;
    padding:10px 10px 10px 0;
}

.gender-controls {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5px;
}

.gender-controls label {
    background: linear-gradient(45deg, #000 0, #111 100%);
    padding: 10px 15px;
    cursor: pointer;
    text-align:center;
    clip-path: var(--clip-corner);
    transition: background-color 100ms linear;
}

.gender-controls label:hover,
.gender-controls input[type="radio"]:checked + label {
    background: linear-gradient(45deg, #7777 0, #7779 100%);
}

.gender-controls input[type="radio"] {
    display:none;
}

.verses-box {
    margin:0;
    padding: 10px 0 10px;
}

.verses-holder {
    overflow-y:auto;
    height: calc(100vh - 120px - var(--top-nav-height));
}


/* Help
**********************************/
.dialog-content .color-code-grid {
    grid: auto/ 150px 1fr;
}

.dialog-content .person {
    height:90px;
}

.dialog-content .person.you {
    grid-area: unset;
}